{%- if site.github_username -%}
<a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="si si-github si--color"></i></a>
{% endif %}
{%- if site.linkedin_username -%}
<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn"><i class="si si-linkedin si--color"></i></a>
{% endif %}
&nbsp;|&nbsp;&nbsp;
{%- if site.email -%}
<a href="mailto:{{ site.email | encode_email }}" title="Gmail"><i class="si si-gmail si--color"></i></a>
{% endif %}
{%- if site.discord_id -%}
<a href="https://discord.com/users/{{ site.discord_id }}" title="Discord"><i class="si si-discord si--color"></i></a>
{% endif %}
&nbsp;|&nbsp;
{%- if site.spotify_id -%}
<a href="https://open.spotify.com/user/{{ site.spotify_id }}" title="Spotify"><i class="si si-spotify si--color"></i></a>
{% endif %}
{%- if site.mal_username -%}
<a href="https://myanimelist.net/profile/{{ site.mal_username }}" title="MyAnimeList"><i class="si si-myanimelist si--color"></i></a>
{% endif %}