<!-- 
	Frontend:
	- HTML
	- CSS
	- JavaScript
	- Swift
	Backend:
	- Node.js
	- Python
	- Java
	- PHP
	- C#
	Tools:
	- Visual Studio Code
	- GitHub
	- Obsidian
 -->

<i class="si si-html5"></i>
<i class="si si-css3"></i>
<i class="si si-javascript"></i>
<i class="si si-swift"></i>
|
<i class="si si-nodedotjs"></i>
<i class="si si-python"></i>
<i class="fa-brands fa-java"></i>
<i class="si si-php"></i>
<i class="si si-csharp"></i>
|
<i class="si si-visualstudiocode"></i>
<i class="si si-github"></i>
<i class="si si-obsidian"></i>
<i class="si si-notion"></i>